#tapmenu{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto 100px;
    top: -200px;
    .title1{
        position: relative;
        font: bold 50px/1 "arial";
        color: brown;
        top: -140px;
        left: -340px;
        margin-right: 5px;
    }
    #buttons{
        width: 1200px;
        height: 500px;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        nav{
            width: 20%;
            height: 100%;
            display: flex;
            align-items: flex-end;
            ul {
                width: 100%;
                li {
                    width: 100%;
                    height: 100px;
                    margin-left: 20px;
                    margin-bottom: 20px;
                    border-radius: 20px;
                    background: url(../img/단청.jpg) no-repeat center/cover;
                    transition: 0.5s;
                    a {
                        display: block;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 5px solid brown;
                        border-radius: 10px;
                        transition: 0.5s;
                        p{
                            opacity: 0;
                            z-index: -1;
                            font: bold 22px/1 "Noto Serif KR";
                            text-align: center;
                            color: #000;
                            transition: 0.5s;
                        }
                    }
                    &:hover,
                    &.on
                    { 
                        background: mintcream;
                        a{
                            p{
                                opacity: 1;
                                z-index: 1;
                            }
                        }
                    }
                }
            }
        }
        #contents {
            width: 100%;
            height: 100%;
            position: relative;
            margin-left: 25px;
            border-radius: 20px;
            border: 6px solid burlywood;
            transition: 0.5s;
            overflow: hidden;
            article {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                align-items: center;
                opacity: 0;
                z-index: -1;
                border-radius: 13px;
                transition: 0.5s;
                &::after{
                    content: '';
                    display: flex;
                    clear: both;
                }
                img{
                    float: left;
                    width: 40%;
                    height: 100%;
                    object-fit: cover;
                }
                .txt{
                    float: right;
                    width: 100%;
                    height: 100%;
                    background-image: url(../img/한지.jpg);
                    padding: 20px;
                    h2{
                        position: relative;
                        text-align: center;
                        font: bold 32px/1 "Noto Serif KR";
                        color: #000;
                        margin-bottom: 10px;
                    }
                    p{
                        position: relative;
                        top: 30px;
                        font: bold 16px/1.6 "Noto Serif KR";
                        color: #000;
                    }
                }
                &.on {
                    opacity: 1;
                    z-index: 1;
                }
            }
        }
    }
    .title2{
        position: relative;
        font: bold 50px/1 "arial";
        color: brown;
        top: 80px;
        right: -360px;
    }
    h1{
        position: absolute;
        bottom: -180px;
        font: bold 60px/1 "arial";
        background: url(../img/한지.jpg) no-repeat center/cover;
        color: burlywood;
        padding: 15px;
    }
}
@media screen and (max-width : 1200px){
    #tapmenu{
        .title1{
            font: bold 3vw/1 "arial";
            margin-right: 0px;
        }
        #buttons{
            nav{
                ul {
                    li {
                        a {
                            p{
                                font: bold 16px/1 "Noto Serif KR";
                            }
                        }
                    }
                }
            }
            #contents {
                article {
                    .txt{
                        h2{
                            font: bold 25px/1 "Noto Serif KR";
                        }
                        p{
                            font: bold 12px/1.8 "Noto Serif KR";
                        }
                    }
                }
            }
        }
        .title2{
            font: bold 2.2vw/1 "arial";
        }
        h1{
            font: bold 4vw/1 "arial";
            left: -200px;
            padding: 10px;
        }
    }
}
@media screen and (max-width : 731px){
    #tapmenu{
        #buttons{
            nav{
                ul {
                    li {
                        a {
                            p{
                                font: bold 16px/1 "Noto Serif KR";
                            }
                        }
                    }
                }
            }
            #contents {
                article {
                    .txt{
                        h2{
                            font: bold 25px/1 "Noto Serif KR";
                        }
                        p{
                            font: bold 12px/1.5 "Noto Serif KR";
                        }
                    }
                }
            }
        }
        .title2{
            font: bold 2.2vw/1 "arial";
        }
        h1{
            font: bold 4vw/1 "arial";
            left: -200px;
            padding: 10px;
        }
    }
}
@media screen and (max-width : 620px){
    #tapmenu{
        .title1{
            font: bold 2vw/1 "arial";
            margin-right: 0px;
            left: -70px;
        }
        #buttons{
            height: 300px;
            nav{
                ul {
                    li {
                        height: 60px;
                        margin-bottom: 20px;
                        a {
                            p{
                                font: bold 12px/1 "Noto Serif KR";
                            }
                        }
                        &:last-child{
                            margin-bottom: 0;
                        }
                    }
                }
            }
            #contents {
                article {
                    .txt{
                        width: 80%;
                        h2{
                            left: -10px;
                            font: bold 2.7vw/1 "Noto Serif KR";
                        }
                        p{
                            top: 10px;
                            left: -10px;
                            font: bold 1.5vw/1.5 "Noto Serif KR";
                        }
                    }
                }
            }
        }
        .title2{
            font: bold 2vw/1 "arial";
        }
    }
}
